body {
  margin:0px;
  background-image:url('../../images/логин/bg_a.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:100% 100%;
  background-origin:border-box;
  position:relative;
  left:-239px;
  width:323px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:30px;
  -moz-box-shadow:10px 10px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:10px 10px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:10px 10px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:199px;
  width:323px;
  height:110px;
  display:flex;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
